.bg-seablue {
    background-color: #79b4cc;
}

#game-scene {
    position: relative;
}

#btn-pause {
    background-color: transparent;
    border: 0;
    outline: none;
    position: absolute;
    top: 20px;
    left: 20px;
}

.battlearea {
    width: 100vw;
    text-align: center;
}

.battlefield {
    display: inline-block;
}

.battlefield + .battlefield {
    padding-left: 200px;
}

@media (max-width: 1100px) { 
    .battlefield {
        display: block;
    }

    .battlefield + .battlefield {
        padding-left: 0px;
    }
}